* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* HEADER */
header {
  width: 100%;
}

.header {
  width: 70%;
  margin: 0 auto;
  height: 77px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 10px;
}

.logo img {
  width: 75px;
  height: 60px;
}

.nav ul {
  list-style: none;
  display: flex;
  line-height: 77px;
  gap: 30px;
}

.nav ul li a {
  text-decoration: none;
  line-height: 77px;
  display: inline-block;
  padding: 0 24px;
  color: #0d7c7e;
  font-size: 23px;
  font-weight: 700;
}

.nav ul li a:hover {
  background: linear-gradient(150deg, #00796b, #52cec1);
  color: #fff;
}

.nav-login ul {
  list-style: none;
  display: flex;
  line-height: 77px;
  gap: 30px;
}

.nav-login ul li a {
  text-decoration: none;
  line-height: 77px;
  display: inline-block;
  padding: 0 24px;
  color: #0d7c7e;
  font-size: 23px;
  font-weight: 700;
}

.nav-login ul li a:hover {
  background: linear-gradient(150deg, #00796b, #52cec1);
  color: #fff;
}

.nav ul li {
  position: relative;
}

.drop-menu {
  display: none !important;
  position: absolute;
  background-color: white;
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  left: -20%;
}

.nav ul li:hover .drop-menu {
  display: block !important;
}

.drop-menu li a {
  display: block;
  padding: 10px 15px;
  color: #0d7c7e;
  text-decoration: none;
  background: #fff;
  text-align: center;
}

.li-drop-menu a:hover {
  background: #fff !important;
  color: #0d7c7e !important;
}
.poster {
  height: 762px;
}
.poster img {
  width: 100%;
  height: 762px;
  object-fit: cover;
}
/* shop */
.shop-title {
  text-align: center;
  font-size: 36px;
  font-family: "Bebas Neue", sans-serif;
  color: #0d7c7e;
  margin: 40px 0 20px;
  position: relative;
}

.container {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.product {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding-bottom: 20px;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.img-product {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.tit {
  font-size: 18px;
  color: #333;
  margin: 15px 10px 10px 10px;
  font-weight: 600;
}

.price {
  font-size: 20px;
  color: #0d7c7e;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-shop {
  background-color: #0d7c7e;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-shop:hover {
  background-color: red;
}

/* FOOTER */
footer {
  width: 100%;
  border-top: 1px #ddd solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.footer {
  width: 70%;
  height: 221px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-left {
  width: 50%;
  padding: 20px;
  text-align: center;
}

.footer-left h5 {
  color: #0d7c7e;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-left p {
  color: #989898;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif, Times, serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
}

.footer-right {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 70px;
  text-align: center;
}

.footer-right ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-right ul li a {
  color: #0d7c7e;
  padding: 20px;
}

.fa-brands {
  font-size: 40px;
  transition: transform 0.3s ease;
}

.fa-brands:hover {
  transform: scale(1.15);
}

.footer-right img {
  height: 50px;
  padding-left: 25px;
}
@media (max-width: 768px) {
  .header {
    width: 100vw;
    height: 50px;
  }

  .nav,
  .nav-login {
    display: none;
  }
  .logo img {
    width: auto;
    height: 50px;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
  .poster {
    width: 100vw;
    height: auto;
  }
  .poster img {
    width: 100vw;
    height: 200px;
  }
  .footer {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.fade-in {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@media (max-width: 768px) {
  .shop-title {
    font-size: 28px;
    margin: 30px 0 15px;
  }

  .shop-title::after {
    width: 60px;
    height: 3px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr); /* hiển thị 2 sản phẩm / dòng */
    gap: 10px;
  }

  .img-product {
    width: 150px;
    height: 180px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .product {
    text-align: center;
  }

  .btn-shop {
    padding: 5px 10px;
    font-size: 14px;
    margin: 5px 0;
  }

  .tit {
    font-size: 16px;
  }

  .price {
    font-size: 15px;
  }
}
